.languageToggle {
  background-color: var(--navds-semantic-color-component-background-alternate);
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}
@media print {
  .languageToggle {
    display: none;
  }
}
.languageToggle__wrapper {
  min-width: 280px;
  position: relative;
  outline: none;
  display: flex;
}
.languageToggle__wrapper:hover {
  background-color: #ffffff;
}
.languageToggle__button {
  width: 100%;
  display: flex;
  border: 1px solid #826ba1;
  border-radius: 0.25rem;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0.5rem 2rem 0.5rem 1rem;
}
.languageToggle__button:focus {
  border-color: transparent;
  outline: none;
  box-shadow: 0 0 0 3px var(--navds-semantic-color-interaction-primary);
}
.languageToggle__button__flag {
  height: 18px;
  padding-right: 1rem;
  width: 25%;
}
.languageToggle__button__language {
  width: 65%;
}
.languageToggle__menu {
  display: flex;
  flex-wrap: nowrap;
}
.languageToggle__menu ul {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  border-bottom: 1px solid #826ba1;
  border-left: 1px solid #826ba1;
  border-right: 1px solid #826ba1;
  position: absolute;
  width: 100%;
  z-index: 100;
  left: 0;
  top: 100%;
}
.languageToggle__menu ul li {
  width: 100%;
  list-style: none;
}
.languageToggle__menu__item {
  display: flex;
  padding: 0.5rem 2rem 0.5rem 1rem;
  outline: none;
}
.languageToggle__menu__item:hover {
  outline: none;
  box-shadow: 0 0 0 3px var(--navds-semantic-color-interaction-primary);
}
.languageToggle__menu__item:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--navds-semantic-color-interaction-primary);
}

.speechBubble {
  position: relative;
  padding: 1rem;
  border-radius: 0.5rem;
  color: #fff;
  text-align: left;
}
.speechBubble--white {
  background-color: white;
  color: black;
}
.speechBubble--white:before {
  border-right: 1.3rem solid white;
}
.speechBubble__content {
  position: relative;
  z-index: 2;
}
.speechBubble__title {
  margin-bottom: 0.5rem;
}
.speechBubble:before {
  z-index: 1;
  content: '';
  position: absolute;
  left: 50%;
  margin-left: -7rem;
  width: 0;
  height: 0;
  bottom: -1.3rem;
  border-left: 1.3rem solid transparent;
  border-bottom: 1.3rem solid transparent;
  border-top: 1.3rem solid transparent;
  transform: scaleX(1.5);
}

.veileder {
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
  width: 100%;
  transform: translate3d();
}
.veileder .nose {
  stroke: #d1bfa3;
  stroke-width: 0.2;
  vector-effect: non-scaling-stroke;
  animation: noseUp 6s infinite;
  animation-timing-function: ease;
}
.veileder .eye {
  animation: eyeBlink 6s infinite;
  animation-timing-function: ease;
}
.veileder #Mouth-happy {
  opacity: 0;
  transition: all 0.3s ease;
}
.veileder #Mouth-unsure {
  opacity: 0;
  transition: all 0.3s ease;
}
.veileder #Mouth-hesitant {
  opacity: 0;
  transition: all 0.3s ease;
}
.veileder #Mouth-hesitant .mouth,
.veileder #Mouth-hesitant .nose {
  stroke-width: 2;
}
.veileder--glad #Mouth-happy {
  opacity: 1;
}
.veileder--skeptisk #Mouth-unsure {
  opacity: 1;
}
.veileder--undrende #Mouth-hesitant {
  opacity: 1;
}
.veileder #bakgrunn {
  transition: fill 0.5s ease;
}
.veileder--tema-lilla #bakgrunn {
  fill: #c1b5d0;
}
.veileder--tema-gronn #bakgrunn {
  fill: #9bd0b0;
}
.veileder--tema-bla #bakgrunn {
  fill: #c2eaf7;
}
.m-relative {
  position: relative;
}
@keyframes eyeBlink {
  0% {
    transform: scaleY(1);
  }
  79% {
    transform: scaleY(1);
  }
  80% {
    transform: translateY(3px) scaleY(0.1);
  }
  81.5% {
    transform: scaleY(1);
  }
}
@keyframes noseUp {
  0% {
    transform: scaleY(1);
  }
  79% {
    transform: scaleY(1);
  }
  80% {
    transform: translate(0, -0.4px);
  }
  81.5% {
    transform: scaleY(1);
  }
}
@keyframes mouth {
  0% {
    transform: scaleY(1);
  }
  30% {
    transform: scaleY(1);
  }
  60% {
    transform: translateX(0) scaleY(0.8) scaleX(0.92);
  }
  89% {
    transform: translateX(0) scaleY(0.9) scaleX(0.97);
  }
  96% {
    transform: scaleY(1);
  }
}

.sidebanner {
  background-color: #e0dae7;
  text-align: center;
  margin-bottom: 64px;
  padding-top: 1rem;
}
.sidebanner__speechbubble {
  margin: 0 auto;
  width: 90%;
  max-width: 30rem;
  margin-bottom: 1rem;
}
.sidebanner svg {
  position: relative;
  max-width: 136px;
  margin-bottom: -68px;
}

.block--s {
  margin-top: 0.25rem;
}
.block--m {
  margin-top: 0.5rem;
}
.block--l {
  margin-top: 1rem;
}
.block--xl {
  margin-top: 2rem;
}
.block--xxl {
  margin-top: 3rem;
}
.block--xxxl {
  margin-top: 4rem;
}
.block--bottom-s {
  padding-bottom: 0.25rem;
}
.block--bottom-m {
  padding-bottom: 0.5rem;
}
.block--bottom-l {
  padding-bottom: 1rem;
}
.block--bottom-xl {
  padding-bottom: 2rem;
}
.block--bottom-xxl {
  padding-bottom: 3rem;
}
.block--bottom-xxxl {
  padding-bottom: 4rem;
}
.block--textAlignCenter {
  text-align: center;
}

.page {
  max-width: 704px;
  margin: 1rem auto 4rem;
}
.page .poster {
  max-width: 100%;
}
@media (max-width: 768px) {
  .page {
    padding: 1rem;
    margin: 1rem auto;
  }
}

.stegindikator__liste {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.stegindikator__steg {
  position: relative;
  margin-right: 1.25rem;
}
.stegindikator__steg::after {
  width: 1.25rem;
  height: 1px;
  content: "";
  display: block;
  background-color: #6a6a6a;
  position: absolute;
  top: 1rem;
  left: 2rem;
}
.stegindikator__steg:last-child {
  margin-right: 0;
}
.stegindikator__steg:last-child::after {
  display: none;
}
.stegindikator__steg--labelled {
  min-width: 10rem;
  max-width: 10rem;
}
.stegindikator__steg--labelled::after {
  width: 9.25rem;
  left: 6rem;
  right: auto;
}
.stegindikator__steg-inner {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #262626;
  position: relative;
  z-index: 1;
}
.stegindikator__steg-inner--ferdig .stegindikator__steg-num {
  background: #f1f1f1;
}
.stegindikator__steg-inner--aktiv .stegindikator__steg-num {
  background: #005b82;
  color: #fff;
  box-shadow: none;
  transform: scale(1.2);
}
.stegindikator__steg-inner--aktiv .stegindikator__steg-label {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: 600;
  padding-bottom: 0.3rem;
}
.stegindikator__steg-inner--disabled {
  cursor: not-allowed;
}
.stegindikator__steg-inner--disabled .stegindikator__steg-num {
  color: #6a6a6a;
  background: transparent;
}
.stegindikator__steg-inner--disabled .stegindikator__steg-label {
  color: #6a6a6a;
}
.stegindikator__steg-inner--interaktiv {
  background: none;
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  width: 100%;
  position: relative;
}
.stegindikator__steg-inner--interaktiv:not(.stegindikator__steg-inner--disabled) .stegindikator__steg-label {
  color: #0067c5;
  text-decoration: underline;
}
.stegindikator__steg-inner--interaktiv:not(.stegindikator__steg-inner--disabled):hover {
  cursor: pointer;
}
.stegindikator__steg-inner--interaktiv:not(.stegindikator__steg-inner--disabled):hover .stegindikator__steg-num {
  background: #fff;
  box-shadow: 0 0 0 2px #005b82;
  color: #005b82;
}
.stegindikator__steg-inner--interaktiv:not(.stegindikator__steg-inner--disabled):hover .stegindikator__steg-label {
  color: #0067c5;
  padding-bottom: 0.3rem;
  text-decoration: none;
}
.stegindikator__steg-inner--interaktiv:focus {
  outline: none;
}
.stegindikator__steg-inner--interaktiv:focus .stegindikator__steg-num {
  box-shadow: 0 0 0 3px #00347d;
}
.stegindikator__steg-inner--interaktiv:focus .stegindikator__steg-label {
  color: white;
  background: #00347d;
  text-decoration: none;
}
.stegindikator__steg-inner--interaktiv:active .stegindikator__steg-label {
  background: none;
}
.stegindikator__steg-inner--interaktiv--ferdig .stegindikator__steg-label {
  border-bottom: 0;
}
.stegindikator__steg-inner--interaktiv--ferdig:hover .stegindikator__steg-label {
  border-bottom: 1px solid #4f4f4f;
}
.stegindikator__steg-num {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: 400;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  box-shadow: 0 0 0 1px #6a6a6a inset;
  background: white;
}
.stegindikator__steg-label {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: 400;
  margin-top: 0.5rem;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 10rem;
}
.stegindikator--kompakt .stegindikator__steg::after {
  top: 0.375rem;
  left: 0.75rem;
}
.stegindikator--kompakt .stegindikator__steg--labelled::after {
  left: 5rem;
  width: 10.875rem;
}
.stegindikator--kompakt .stegindikator__steg-num {
  width: 0.75rem;
  height: 0.75rem;
  font-size: 0;
}

.banner {
  background-color: #c1b5d0;
  padding: 1rem;
  text-align: center;
}
.banner--small {
  min-height: 3.5rem;
}
@media screen and (max-width: 576px) {
  .banner--small {
    min-height: 5.5rem;
  }
}
.banner--large {
  height: 12rem;
}
.banner--xlarge {
  height: 16rem;
}

.stepBanner .typo-undertittel {
  text-align: center;
}

.stepFooter {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  padding-top: 1rem;
}
.stepFooter__divider {
  width: 100%;
  border-top: 1px solid #c6c2bf;
  padding: 0.5rem;
  margin-left: 0;
  margin-right: 0;
}
.stepFooter__avbrytSoknadLenke {
  color: #cf3333;
}
.stepFooter__avbrytSoknadLenke:focus {
  color: white;
}
.stepFooter__links {
  display: flex;
  align-items: center;
}
.stepFooter__links > * {
  margin: 0.2rem 0.5rem;
}
.stepFooter__links > *:first-child {
  margin-left: 0;
}

.step {
  padding-top: 1rem;
  min-height: 3rem;
}
.step__button {
  display: block;
  margin: 0 auto;
}
.step__title {
  text-align: center;
}
.step__backLink {
  position: relative;
}
@media (max-width: 768px) {
  .step__backLink {
    top: 1rem;
  }
}
.step__infoMessage {
  margin-bottom: 1rem;
}
.step__validationErrorSummary {
  margin: 1rem auto 1rem auto;
  max-width: 704px;
}
@media (max-width: 768px) {
  .step__validationErrorSummary {
    margin: 0;
  }
}

.slettKnapp {
  width: 2rem;
  padding: 0.3em;
  border: none;
  background: none;
}
.slettKnapp svg * {
  stroke: #0067c5;
}

.itemList {
  margin: 0;
  padding: 0;
  list-style: none;
}
.itemList__item {
  padding: 0.5rem;
  border-bottom: 1px solid var(--navds-semantic-color-component-background-alternate);
  display: flex;
  align-items: center;
}
.itemList__item:first-child {
  border-top: 1px solid var(--navds-semantic-color-component-background-alternate);
}
.itemList__item__icon {
  flex: 1 1 2rem;
}
.itemList__item__label {
  flex: 2 1 100%;
}
.itemList__item__delete {
  flex: 1 1 2rem;
}

.infoToggler {
  position: relative;
  border: none !important;
  background: transparent;
  padding: 0;
  display: inline-block;
}
.infoToggler:focus {
  outline: none;
  box-shadow: 0 0 0 3px #ffbd66;
}
.infoToggler__content {
  color: #0067c5;
  display: inline-block;
  text-align: left;
  border-bottom: solid 1px #b7b1a9;
  padding-right: 1.5rem;
  position: relative;
}
.infoToggler:hover .infoToggler__content,
.infoToggler:focus .infoToggler__content,
.infoToggler:active .infoToggler__content {
  border-bottom-color: #0067c5;
}
.infoToggler__label {
  display: inline-block;
}
.infoToggler__chevron {
  position: absolute;
  right: 0;
  top: 5px;
}
.infoToggler__chevron .nav-frontend-chevron {
  margin-left: 0.4rem;
}

.ekspanderbartInnhold {
  opacity: 0;
  transition: opacity 0.5s ease;
}
.ekspanderbartInnhold--apen {
  opacity: 1;
  margin-bottom: 1.5rem;
}
.ekspanderbartInnhold .innhold {
  margin-top: 0;
}
.ekspanderbartInnhold .innhold__navFont {
  margin-bottom: 0.25rem;
}
.ekspanderbartInnhold .typo-element {
  margin-bottom: 0.5rem;
}

.utvidetInformasjon {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
  /* Justere på grunn av animasjon */
  margin-bottom: 1rem;
}
.utvidetInformasjon__innhold,
.utvidetInformasjon__toggler {
  width: 100%;
}
.utvidetInformasjon__innhold {
  order: 1;
}
.utvidetInformasjon__toggler {
  order: 2;
}

.pictureScanningGuide {
  border-radius: 4px;
  padding: 1rem;
}
.pictureScanningGuide--blue {
  background-color: #e0f5fb;
}
.pictureScanningGuide--white {
  background-color: white;
}
@media screen and (min-width: 768px) {
  .pictureScanningGuide {
    padding: 1rem;
  }
}
.pictureScanningGuide svg {
  pointer-events: none;
}
.pictureScanningGuide__title {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.pictureScanningGuide ul {
  margin: 0 0 1rem 0;
}
.pictureScanningGuide ul li {
  margin-bottom: 0.5rem;
}
.pictureScanningGuide__body {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.pictureScanningGuide__cell {
  flex: 1 1 50%;
  height: auto;
  padding: 0.5rem 0.5rem 1.5rem 0.5rem;
}
.pictureScanningGuide__cell:first-child {
  padding-left: 0;
}
.pictureScanningGuide__cell:last-child {
  padding-right: 0;
}
@media screen and (min-width: 768px) {
  .pictureScanningGuide__cell {
    max-width: 25%;
  }
}
.pictureScanningGuide__example__image {
  padding-left: 1rem;
  margin-bottom: 0.75rem;
}
.pictureScanningGuide__example__title {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.pictureScanningGuide__example__statusIcon {
  padding-right: 0.5rem;
  line-height: 0;
}

.infoBlock {
  background-color: #efefef;
  border-radius: 0.25rem;
  padding: 2rem;
}

.buttonRow{display:flex;flex-wrap:wrap;flex-direction:row;justify-content:center}.buttonRow .buttonRow__button+.buttonRow__button{padding-left:1rem}.buttonRow button{min-width:5rem}.buttonRow--left{justify-content:left}.buttonRow--stretch{display:flex;justify-items:stretch}.buttonRow--stretch .buttonRow__button{flex:1 1 0}.buttonRow--stretch .buttonRow__button button{width:100%}.buttonRow--stretch .buttonRow__button:first-child{margin-right:1rem}@media(max-width: 576px){.buttonRow--stretch{flex-direction:column}.buttonRow--stretch .buttonRow__button{margin-bottom:.5rem}.buttonRow--stretch .buttonRow__button:first-child{margin-right:0}.buttonRow--stretch .buttonRow__button:last-child{padding-left:0}}@media(max-width: 576px){.buttonRow--mobile-50-50 .buttonRow__button+.buttonRow__button{padding:0}.buttonRow--mobile-50-50 .buttonRow__button{padding:0;width:50%}.buttonRow--mobile-50-50 .buttonRow__button:first-child{padding-right:.25rem}.buttonRow--mobile-50-50 .buttonRow__button:last-child{padding-left:.25rem}.buttonRow--mobile-50-50 .buttonRow__button>.knapp{height:100%;white-space:normal;width:100%;padding-left:1rem;padding-right:1rem}}
.dateIntervalPicker{margin-bottom:1rem}.dateIntervalPicker__from{margin-right:1rem}@media(max-width: 576px){.dateIntervalPicker__from{margin-right:0;margin-bottom:1rem}}.dateIntervalPicker__flexContainer{display:flex}@media(max-width: 576px){.dateIntervalPicker__flexContainer{display:block}}
.fileInput--withError .attachmentButton{border:2px dashed #ba3a26 !important}.fileInput .attachmentButton{display:flex;height:4rem;border:2px dashed #c6c2bf;border-radius:8px;justify-content:center;align-items:center;padding-left:0}.fileInput .attachmentButton input{display:none}.fileInput .attachmentButton:focus{outline:none;box-shadow:0 0 0 3px}.fileInput .attachmentButton:hover{border:2px dashed #0067c5}.fileInput .attachmentButton__icon{display:inline-block;margin-right:.5rem}.fileInput .attachmentButton__label{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;margin-left:12px;font-weight:bold;margin-top:0 !important;margin-bottom:0 !important}
@media(max-width: 600px){.modalFormAndList__addButton button{white-space:pre-wrap}}
.formikModalForm__modal{min-width:32rem;max-width:40rem}@media(max-width: 576px){.formikModalForm__modal{min-width:0;width:100%}}@media(max-width: 799px){.formikModalForm__modal{min-width:0;width:32rem}}.formikModalForm__modal h1{margin-right:2rem}.formikModalForm__modal--wide{width:100%;max-width:90%}
.modalFormAndInfo__buttons{display:flex;width:100%;gap:1rem;margin-top:1rem}@media(max-width: 600px){.modalFormAndInfo__buttons button{white-space:pre-wrap}}.modalFormAndInfo__infoWrapper__panel{padding:1rem}
.timeInput__contentWrapper{display:flex}.timeInput__hours,.timeInput__minutes{width:100%;margin-bottom:.5rem}.timeInput__hours:focus,.timeInput__minutes:focus{z-index:2}.timeInput__inputWrapper{display:flex;align-items:baseline;margin-right:.5rem;padding:0;position:relative;max-width:3.5rem}.timeInput__input{order:1}.timeInput input{text-align:center;width:100%;padding:.5rem}.timeInput__label{display:block;position:absolute;top:calc(100% + .25rem);font-size:.9rem;padding:0;text-align:left;line-height:1rem;overflow:hidden;width:100%}.timeInput__hours,.timeInput__minutes{margin:0 !important}.timeInput__contentWrapper{white-space:nowrap;padding-bottom:1.25rem;display:flex}.timeInput__contentWrapper>*{flex:1}.timeInput--compact *:focus{z-index:10;position:relative}.timeInput--compact .timeInput__hours>input{border-top-right-radius:0;border-bottom-right-radius:0}.timeInput--compact .timeInput__minutes>input{border-left:none;border-top-left-radius:0;border-bottom-left-radius:0}.timeInput--compact .timeInput__inputWrapper:first-child{margin-right:0}.formikTimeInput--horizontal{flex-direction:row;display:flex;flex-wrap:wrap}.formikTimeInput--horizontal .divLegend{padding-right:1rem;align-items:flex-start;padding-top:.5rem;white-space:nowrap;flex:1 1 12rem}.formikTimeInput--horizontal .timeInput{flex:2 1 10rem}.formikTimeInput--horizontal .timeInput__contentWrapper{justify-content:left}.formikTimeInput--horizontal .timeInput+div{width:100%}
.unansweredQuestionsInfo{border-top:1px solid #c6c2bf;margin-top:1rem;padding-top:1rem}
.dateRangePicker{margin-bottom:1rem}.dateRangePicker__from{margin-right:1rem}@media(max-width: 576px){.dateRangePicker__from{margin-right:0;margin-bottom:1rem}}.dateRangePicker__flexContainer{display:flex}@media(max-width: 576px){.dateRangePicker__flexContainer{display:block}}
.etikett {
  display: inline-block;
  padding: 4px 9px;
  border-radius: 4px;
}
.etikett--advarsel {
  background-color: #f9d2cc;
  border: 1px solid #ba3a26;
}
.etikett--suksess {
  background-color: #ccf1d6;
  border: 1px solid #06893a;
}
.etikett--fokus {
  background-color: #ffeccc;
  border: 1px solid #d47b00;
}
.etikett--info {
  background-color: #d8f9ff;
  border: 1px solid #368da8;
}
.etikett--mini {
  padding: 1px 8px;
}

:export {
  navRod: #c30000;
  navOransje: #ff9100;
  navLimeGronn: #a2ad00;
  navGronn: #06893a;
  navLilla: #634689;
  navDypBla: #005b82;
  navBla: #0067c5;
  navLysBla: #66cbec;
  navMorkGra: #262626;
  navGra80: #4f4f4f;
  navGra60: #6a6a6a;
  navGra40: #a0a0a0;
  navGra20: #c9c9c9;
  navLysGra: #f1f1f1;
  navBakgrunn: #ffffff;
  navGraBakgrunn: #f1f1f1;
  fokusFarge: #00347d;
  redError: #ba3a26;
  white: #fff;
  grayBackground: #f1f1f1;
  grayIcon: #a0a0a0;
  grayModia: #333333;
  grayInactive: #6a6a6a;
  pinkErrorBg: #f3e3e3;
  navGronnLighten80: #ccf1d6;
  navGronnLighten60: #99dead;
  navGronnLighten40: #66c786;
  navGronnLighten20: #33aa5f;
  navGronnDarken20: #007c2e;
  navGronnDarken40: #006a23;
  navGronnDarken60: #005519;
  navGronnDarken80: #003b0f;
  navLimeGronnLighten80: #f9fccc;
  navLimeGronnLighten60: #ecf399;
  navLimeGronnLighten40: #d9e366;
  navLimeGronnLighten20: #c1cb33;
  navLimeGronnDarken20: #939e00;
  navLimeGronnDarken40: #7f8900;
  navLimeGronnDarken60: #666e00;
  navLimeGronnDarken80: #474e00;
  navLysBlaLighten80: #d8f9ff;
  navLysBlaLighten60: #b5f1ff;
  navLysBlaLighten40: #97e6ff;
  navLysBlaLighten20: #7cdaf8;
  navLysBlaDarken20: #4cadcd;
  navLysBlaDarken40: #368da8;
  navLysBlaDarken60: #236b7d;
  navLysBlaDarken80: #134852;
  navBlaLighten80: #cce1ff;
  navBlaLighten60: #99c3ff;
  navBlaLighten40: #66a5f4;
  navBlaLighten20: #3386e0;
  navBlaDarken20: #0056b4;
  navBlaDarken40: #00459c;
  navBlaDarken60: #00347d;
  navBlaDarken80: #002252;
  navDypBlaLighten80: #cce2f0;
  navDypBlaLighten60: #99c4dd;
  navDypBlaLighten40: #66a3c4;
  navDypBlaLighten20: #3380a5;
  navDypBlaDarken20: #005077;
  navDypBlaDarken40: #004367;
  navDypBlaDarken60: #003453;
  navDypBlaDarken80: #00243a;
  navLillaLighten80: #e0d8e9;
  navLillaLighten60: #c0b2d2;
  navLillaLighten40: #a18dbb;
  navLillaLighten20: #8269a2;
  navLillaDarken20: #523874;
  navLillaDarken40: #412b5d;
  navLillaDarken60: #301f46;
  navLillaDarken80: #1f142f;
  redErrorLighten80: #f9d2cc;
  redErrorLighten60: #efa89d;
  redErrorLighten40: #e18071;
  redErrorLighten20: #d05c4a;
  redErrorDarken20: #a32a17;
  redErrorDarken40: #881d0c;
  redErrorDarken60: #6a1204;
  redErrorDarken80: #480900;
  navOransjeLighten80: #ffeccc;
  navOransjeLighten60: #ffd799;
  navOransjeLighten40: #ffc166;
  navOransjeLighten20: #ffaa33;
  navOransjeDarken20: #d47b00;
  navOransjeDarken40: #a86400;
  navOransjeDarken60: #7d4c00;
  navOransjeDarken80: #523300;
  screenSm: 768px;
  screenSmMin: 768px;
  screenTablet: 768px;
  screenMd: 992px;
  screenMdMin: 992px;
  screenDesktop: 992px;
  screenLg: 1200px;
  screenLgMin: 1200px;
  screenLgDesktop: 1200px;
  screenXsMax: 767px;
  screenSmMax: 991px;
  screenMdMax: 1199px;
  containerTablet: 736px;
  containerSm: 736px;
  containerDesktop: 956px;
  containerMd: 956px;
  containerLargeDesktop: 1156px;
  containerLg: 1156px;
  gridColumns: 12;
  gridGutterWidth: 16px;
  gridFloatBreakpoint: 768px;
  gridFloatBreakpointMax: 767px;
  paddingBaseVertical: 6px;
  paddingBaseHorizontal: 12px;
  paddingLargeVertical: 10px;
  paddingLargeHorizontal: 16px;
  paddingSmallVertical: 5px;
  paddingSmallHorizontal: 10px;
  paddingXsVertical: 1px;
  paddingXsHorizontal: 5px;
  lineHeightLarge: 1.3333333;
  lineHeightSmall: 1.5;
  borderRadiusSmall: 2px;
  borderRadiusBase: 4px;
  borderRadiusLarge: 6px;
}
/*
---------------
FARGER
---------------
*/
/*
---------------
BREKKPUNKTER
---------------
*/
/*
--------------
CONTAINER
--------------
*/
/*
---------------
GRID
---------------
*/
.interactiveListElement {
  border-radius: 4px;
  border: solid 1px #7f756c;
  padding: 1rem;
  position: relative;
  margin-bottom: 1rem;
  background-color: #ffffff;
}
.interactiveListElement:last-child {
  margin-bottom: 0;
}
.interactiveListElement__top .title {
  display: inline-block;
  font-weight: bold;
  width: 95%;
}
.interactiveListElement__editButton {
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #c9c9c9;
  transition: border-color 200ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
  cursor: pointer;
  border: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.interactiveListElement__editButton:hover {
  border-color: #0067c5;
}
.interactiveListElement__editButton:focus {
  outline: none;
  box-shadow: 0 0 0 3px #00347d;
}
.interactiveListElement__bottom {
  margin-top: 0.5rem;
  min-height: 1rem;
}
.interactiveListElement__deleteButton {
  background: none;
  border-top: none;
  border-left: none;
  border-right: none;
  color: #ba3a26;
}
.interactiveListElement__deleteButton:hover {
  border-bottom-color: #ba3a26;
}
.interactiveListElement__deleteButton:active {
  border-bottom-color: #ba3a26;
}
@media (max-width: 400px) {
  .interactiveListElement__deleteButton {
    display: block;
    margin-top: 0.5rem;
    padding: 0;
  }
}
@media (min-width: 400px) {
  .interactiveListElement__deleteButton {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }
}
.interactiveListElement__text {
  margin-top: 0.5rem;
}


/*# sourceMappingURL=components-interactive-list-element-InteractiveListElement-stories.css.map?139096b480f01ca7f1ec-2339dbffaa9aba854834-9b716315a339bc8c0fd3-components-interactive-list-element-InteractiveListElement-stories*/